[Desktop Entry]
Name=Endless Sky Editor
GenericName=Space game editor
Comment=Universe editor for the game Endless Sky
Exec=endless-sky-editor %f
Terminal=false
Type=Application
Keywords=game;simulator;space;sandbox;rpg;
Categories=Game;Simulation;
